// .sectionBottom{
//     background-size: 100%;
//     background-image: url(../img/fly_islands.svg);
//     p{
//         font-family: 'HeadlandOne';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 24px;
//         line-height: 24px;
//     }
//     .HelloText{
//         padding-top: 32px;
//         text-align: center;
//         font-family: 'HeadlandOne';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 32px;
//         line-height: 40px;
//     }
//     .windows{
//         gap: 24px 35px;
//         margin-top: 48px;
//         height: 504px;
//         width: 1031px;
//         display: flex;
//         flex-wrap: wrap;
//         margin-left: auto;
//         margin-right: auto;
//         padding-bottom: 40px;


//         text-align: center;

//         p{
//             padding-top: 36px;
//         }

//         img{
//             padding-top: 40px;
//         }

//           .window1{
//            width: 320px;
//            height: 240px;
//            background: rgba(255, 255, 255, 0.7);
//           }

//           .window2{
//             width: 320px;
//             height: 240px;
//             background: rgba(255, 255, 255, 0.7);
//            }

//            .window3{
//             width: 320px;
//             height: 240px;
//             background: rgba(255, 255, 255, 0.7);
//            }

//            .window4{
//             width: 320px;
//             height: 240px;
//             background: rgba(255, 255, 255, 0.7);
//            }

//            .window5{
//             width: 320px;
//             height: 240px;
//             background: rgba(255, 255, 255, 0.7);
//            }

//            .window6{
//             width: 320px;
//             height: 240px;
//             background: rgba(255, 255, 255, 0.7);
//            }
//     }
// }

// .sectionBottom2{
//     text-align: center;
//     .HelloText2{
//         margin-left: auto;
//         margin-right: auto;
//         width: 802px;
//         padding-top: 85px;
//         font-family: 'Inter';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 36px;
//     }

//     .neytiri{
//         padding-top: 16px;
//         font-family: 'Inter';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 24px;
//     }

//     .eaglebig{
//         margin-bottom: 8px;
//         margin-top: 8px;
//         width: 400px;
//         height: 120px;
//     }

//     .avatarswiming{
//         width: 100%
        
//     }

// }


// -------------------------------------------------

body{
    background-color: rgba(255, 255, 255, 0.1);
}
.WelcomeClan{
    background-image: url(../img/Ozero.svg);
    width: 600px;
    height: 404px;
    margin: auto auto;
    margin-bottom: 148px;
    margin-top: 148px;

    text-align: center;

    img{

    }


    .clanText{
        color: #FFFFFF;
        font-family: 'HeadlandOne';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;

    }

    .Pondora{
        color: #FFFFFF;
        margin-top: 80px;
        width: 328px;
        height: 60px;
        font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}